@import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@300;400;500;600;700&display=swap');


* {font-family: 'Readex Pro';
    text-align: justify;
    }

.css-nzvw1x {
    background-color: #061E42 !important;
    background-image: none !important;
}

.streamlit-code-block {
    background-color: rgb(219, 24, 24);
    color: black;
    border: 1px solid gray;
}

a {
    text-decoration: none;
}


hr {
    margin-top: 0px;
    margin-bottom: 5%;
}

#MainMenu {visibility: hidden;}
footer {visibility: hidden;}
header {visibility: hidden;}

